@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {

  /*
    Mobile Width: 375px;
    Desktop Width: 1440px;
  */

  /* Primary Colors */
  --clr-primary-soft-orange: hsl( 35, 77%, 62% );
  --clr-primary-soft-red: hsl( 5, 85%, 63% );

  /* Neutral Colors */
  --clr-neutral-off-white: hsl( 36, 100%, 99% );
  --clr-neutral-grayish-blue: hsl( 233, 8%, 79% );
  --clr-neutral-dark-grayish-blue: hsl( 236, 13%, 42% );
  --clr-neutral-very-dark-blue: hsl( 240, 100%, 5% );

  /* Font Family */
  --ff: 'Inter', sans-serif;

  /* Paragraph Font Size */
  --p-fs: 15px;

  /* Font Weights */
  --fw-400: 400;
  --fw-700: 700;
  --fw-800: 800;
}


/* CSS RESETS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

/* 
  Typographic tweaks!
  - Add accessibility Line-Height
  - Improve yexy rendering
*/

body {
 line-height: 1.7;
 -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */

img,
picture,
video,
canvas,
svg {
 display: block;
 max-width: 100%;
}

/* Remove built in form typography */

input,
button,
textarea,
select {
 font: inherit;
}

/* Avoid text overflow */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
 overflow-wrap: break-word;
}

body {
  font-family: var(--ff);
}

.wrapper {
  max-width: 1200px;
  padding: 0 2.5rem;
}

.flex {
  display: flex;
}

/* .hero {
  border: 2px solid red;
} */

.hero--side {
  max-width: 30%;
  padding: 1.5rem;
  height: auto;
  line-height: 2rem;
  background-color: var(--clr-neutral-very-dark-blue);
}

.hero--side--header {
  color: var(--clr-primary-soft-orange);
  font-weight: var(--fw-700);
}

.hero--side--anchor > a {
  color: var(--clr-neutral-off-white);
  font-weight: var(--fw-700);
  text-decoration: none;
}

.hero--side--p {
  color: var(--clr-neutral-off-white);
  font-size: 15px;
  font-weight: var(--fw-400);
}

hr {
  color: var(--clr-neutral-off-white);
}

.hero--title {
  /* border: 2px solid green; */
  max-width: 50%;
}

.hero--title > h1 {
  font-weight: var(--fw-800);
  font-size: 3.5rem;
  padding: 0 1rem;
}

.hero--info {
  /* border: 2px solid brown; */
  width: 50%;
  margin: 0 auto;
  font-weight: var(--fw-700);
}

.hero--info > h2 {
  color: var(--clr-neutral-grayish-blue);
  font-weight: var(--fw-600);
  text-align: start;
  font-size: 1rem;
}

.hero--link {
  background-color: var(--clr-primary-soft-red);
  width: 50%;
  text-align: center;
  padding: 1rem;
  letter-spacing: 0.25rem;
  font-weight: var(--fw-700);
  font-size: 0.95rem;
}

.hero--link > a {
  text-decoration: none;
  color: var(--clr-neutral-off-white);
}

.footer--info {
  margin-left: 1.5rem;
  line-height: 1rem;
}

.footer--header {
  font-size: 2rem;
  font-weight: var(--fw-700);
  color: var(--clr-neutral-grayish-blue);
}

.footer--link > a {
  color: black;
  text-decoration: none;
  font-weight: var(--fw-800);
}

.footer--p {
  color: var(--clr-neutral-grayish-blue);
  font-size: 15px;
}

.footer {
  margin-top: 1.5rem;
}

.footer--img {
  max-width: 40%;
  max-height: 15vh;
}

@media only screen and ( max-width:991px ){
  .hero--side {
    max-width: 100%;
  }

  .hero--title {
    max-width: 100%;
    padding-right: 10rem;
    letter-spacing: 0.7rem;
    letter-spacing: normal;
  }

  .hero--title > h1 {
    font-size: 4.5rem;
  }

  /* .hero {
    border: 2px solid red;
  } */

  .hero--info {
    width: 100%;
    padding-right: 4rem;
    margin: 0;
  }

  .footer--content {
    margin: 2rem 0;
  }
}

@media only screen and ( max-width:670px ) {
  .hero--title > h1 {
    font-size: 3rem;
  }

  .hero--info {
    padding: 0;
  }
}

@media only screen and ( max-width:630px ) {
  .hero--title > h1 {
    font-size: 2.5rem;
  }
}